.modal {
	position: fixed;
	opacity: 0;
	transform: translateY(-3rem);
	transition: opacity 200ms ease-out,
		transform 500ms cubic-bezier(0.97, 0.06, 0.1, 1.1);
	z-index: 200;
	top: 20%;
	left: 30%;
	width: 40%;
	background-color: white;
	padding: 1rem;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
	text-align: center;
	margin: 0 0 1rem 0;
}

.modal__actions {
	text-align: center;
}

.modal__action {
	border: 1px solid #0e4f1f;
	background-color: #0e4f1f;
	text-decoration: none;
	color: white;
	font: inherit;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
	background-color: #2ddf5c;
	border-color: #2ddf5c;
}

.modal__action--negative {
	background-color: red;
	border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
	background-color: #ff5454;
	border-color: #ff5454;
}
